linux/
screenshots/
snap/
windows/
android/
.github/
.git/
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
.idea/
test/
.env
*.log
*.tmp
*.swp
*.DS_Store
*.md
LICENSE
